.business-card-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-card {
    padding: 24px;
    width: 100%;
    max-width: 350px;
    height: 175px;
	box-sizing: border-box;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	transition: box-shadow 0.2s;
	background: #e0e0e0;
	border-top: 4px solid #f0f0f0;
	border-right: 4px solid #d8d8d8;
	border-bottom: 4px solid #d8d8d8;
	border-left: 4px solid #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 4px;
	overflow: hidden;
    text-shadow:
            2px 2px 2px rgba(255,255,255,1),
            -2px -2px 2px rgba(0,0,0,0.2)
            ;
    color: #303030;
    font-weight: bold;

}

.business-card:hover {
	box-shadow: 12px 12px 12px rgba(0,0,0,0.5);
}

.business-card-banner {
	flex: 1;
	display: flex;
	justify-content: space-between;

}

.business-card-content {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;

}

.business-card-group {

}