.sidebar {
    min-width: 300px;
    border-right: 1px solid #888;
    box-sizing: border-box;
}

.sidebar-menu-header {
    border-bottom: 1px solid #ddd;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chevron {
    width: 20px;
    transition: transform 0.2s ease-out;
}

.chevron.active {
    transform: rotate(-180deg);
}

.sidebar-menu-content {
    height: fit-content;
    overflow: hidden;
    padding: 4px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.sidebar-menu-content.collapsed {
    height: 0;
    padding: 0 4px;
    border: none;
}

.sidebar-menu-item {
    border-bottom: 1px solid #ddd;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.sidebar-menu-item:last-child {
    border: none;
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
}